---
import AboutSection from "../components/AboutSection.astro";
import BackgroundParticles from "../components/BackgroundParticles.astro";
import ContactSection from "../components/ContactSection.astro";
import Hero from "../components/Hero.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteNavbar from "../components/SiteNavbar.astro";
import "../styles/global.css";

import site from "../../data/site.json";

const locale = site.shared.defaultLocale;
const title = site[locale].siteName;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/mi-portfolio/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <BackgroundParticles />
    <SiteNavbar />
    <Hero />
    <AboutSection />
    <ProjectsSection />
    <ContactSection />
    <SiteFooter />
  </body>
</html>
