---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Base Astro</title>
  </head>
  <body>
    <main>
      <p>Base Astro</p>
    </main>
  </body>
</html>
